body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    min-height: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    color: #33658A;
}

header h1 {
    display:inline;
}

nav {
    text-align: right;
}

#bujoweek {
    text-align: center;
}

#bujoweek h2 {
    display:inline;
}

.bujoday {
    border-bottom: 1px solid #eee;
}

.new-entry {
    background-color: #33658A;
}
footer {
    text-align: center;
}

.modal {
    width: 100% !important;
    height: 100% !important;
}

.hidden, .alert-task {
    visibility: hidden;
}

button a {
    color: #33658A;
}

.material-icons.md-18 { 
    font-size: 18px; 
}

